footer{
    background-color: red;
    color: blue;
    display: flex !important;
    justify-content: center !important;
}

section {
    background-color: bisque;
    height: 350px;
    opacity: 0.40 ;
}

div{
    background-color: white;
}
a{
        color: #007C23 !important;
        font-size: 14px;
        font-family: 'Comic Sans MS', cursive;
}

nav{
    background-color: #343704 !important;
}

body{
    width: 80%;
    margin-left: 10% !important;; 
    margin-top: 10% !important;
    background-image: url(6.jpg);
}
header{
    background-image: url("7.jpg");
    color: BLANCHEDALMOND;
    background-color: bisque;
    border-radius: 31px 31px 0px 0px;
    height: 110px;
/*    display: flex !important;
    justify-content: center !important;*/
}